{% extends "base.html" %}

{% block title %}
    Edit Address
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center mt-5">
        <div class="col-sm-3">
            <h2 class="text-center alert alert-info">Address Change</h2>
            <p class="h4 pt-2">Employee Name : {{ employee }}</p>
            <form action="{% url 'address_changed' employee %}" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group mt-3">
                        <label for="{{ field.id_for_label }}">
                            <b>{{ field.label_tag }}</b>
                        </label>
                        {{ field }}
                    </div>
                {% endfor %}
                <div class="text-center mt-3">
                    <input type="submit" name="update" value="Update" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
{% endblock %}