{% extends "base.html" %}

{% block title %}
    Change Department
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center mt-5">
        <div class="col-sm-3 pt-2">
            <h2 class="text-center alert alert-info">Department Change</h2>
            <p class="h5 pt-2">Employee Name : {{ employee }}</p>
            <form action="{% url 'emp_department_changed' dept_name_id employee %}" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <div class="text-center">
                    <input type="submit" name="update" value="Update" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
{% endblock %}