{% extends "base.html" %}
{% load static %}

{% block title %}
Addresses Of Employees
{% endblock %}

{% block content %}
<div class="container mt-4" style="width:700px;">
  <div class="input-group mb-4">
    <input type="text" id="tbSearch" class="form-control input-sm" onchange="matched()" placeholder="Search Employee">
  </div>
  <script src="{% static 'js/search.js' %}"></script>
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th>No</th>
        <th>Employee Name</th>
        <th>Street</th>
        <th>City</th>
        <th>State</th>
        <th>Zipcode</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for i in user %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.employee }}</td>
        <td>{{ i.street }}</td>
        <td>{{ i.city }}</td>
        <td>{{ i.state }}</td>
        <td>{{ i.zipcode }}</td>
        <td>
          <form action="{% url 'address_edit' i.employee %}" method="POST">
            {% csrf_token %}
            <input type="submit" name="edit" value="Edit" class="btn btn-success btn-sm">
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}