{% extends "base.html" %}
{% load static %}

{% block title %}
All Employees
{% endblock %}

{% block content %}

<div class="container mt-4">
  <div class="justify-content-center input-group mb-4">
        <a class="btn btn-success" href="add_new_employee">Add New Employee</a>
  </div>
</div>

<div class="container mt-4">
  <div class="input-group mb-4">
    <input type="text" id="tbSearch" class="form-control input-sm" onchange="matched()" placeholder="Search Employees">
  </div>
  <script src="{% static 'js/search.js' %}"></script>
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th>No</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Gender</th>
        <th>Username</th>
        <th>Phone No</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for i in employees %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.first_name }}</td>
        <td>{{ i.last_name }}</td>
        <td>{{ i.gender }}</td>
        <td>{{ i.username }}</td>
        <td>{{ i.phno }}</td>
        <td>{{ i.email }}</td>
        <td>
          <form action="{% url 'emp_profile' i.first_name %}" method="POST">
            {% csrf_token %}
            <input type="submit" name="edit" value="Edit" class="btn btn-success btn-sm">
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}